---
import SiteNav from "../components/SiteNav.astro";
import SiteFooter from "../components/SiteFooter.astro";
import { navQuery } from "../lib/api";
const { pages, generalSettings } = await navQuery();
const primaryMenu = pages.nodes[0];

const { title, description } = Astro.props;

---

<html lang="en" data-theme="business">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/teseu.svg" />
		<link rel="stylesheet" href="/src/css/style.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} | ${generalSettings.title}`}</title>
		<meta name="description" content={description}>
	</head>
	<body class="">
		<main class="flex flex-col">
			<SiteNav pages={pages} generalSettings={generalSettings}></SiteNav>
			<slot></slot>
		</main>
		<SiteFooter></SiteFooter>
	</body>
</html>

<style>

	body {
		font-family: 'Red Hat Display', Quicksand, Ruda, 'Zen Dots', 'Fira Code', sans-serif;
		font-size: 18px;
	}
	main {
		width:100%;
		max-width: 80rem;
		margin:auto;
	}
</style>
